:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8feff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  padding: 20px;
}

.datePickerContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
}

.chartRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chartContainer {
  width: 48%; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.date-seperator {
  margin: 0 30px;
}
.filter_btn {
  background-color: aquamarine;
}

@media screen and (max-width: 600px) {
  .chartContainer {
    width: 100%;
  }
  .chartRow {
    flex-direction: column;
  }
  .datePickerContainer {
    flex-direction: column;
  }
  .btn_group {
    margin-top: 20px;
  }
}
